spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/dev-database
    username: yann
    password: api
  jpa:
    hibernate:
      ddl-auto: none
    defer-datasource-initialization: false
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
  sql:
    init:
      mode: always
logging:
  level:
    org:
      springframework:
        orm:
          jpa: DEBUG
        transaction:
          interceptor: TRACE
      hibernate:
        orm:
          jdbc:
            bind: TRACE
