spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/dev-database
    username: yann
    password: api
  jpa:
    hibernate:
      ddl-auto: none
    defer-datasource-initialization: false
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
  sql:
    init:
      mode: always
logging:
  level:
    org:
      springframework:
        orm:
          jpa: DEBUG
        transaction:
          interceptor: TRACE
      hibernate:
        orm:
          jdbc:
            bind: TRACE
  file:
    name: ./tmp/logs/${spring.application.name}.log
  logback:
    rollingpolicy:
      file-name-pattern: ${LOG_FILE}.%d{yyyy-MM-dd}.%i.gz
      max-file-size: 10MB
      max-history: 30
      total-size-cap: 3GB
  pattern:
    console: "[%clr(${LOG_LEVEL_PATTERN:%5p})] - [%clr(%logger{36}){cyan}] - %m%n${LOG_EXCEPTION_CONVERSION_WORD:%wEx}}"

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
    configprops:
      show-values: always
    env:
      show-values: always